# Statistical Data Analysis

In this section, we look at the correlations looked at in the previous sectiona nd try to test their statistical significance. We will also capture new correlations

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Read the output of Data Storytelling
df_clean = pd.read_csv(r'After_Storytelling.csv', index_col = 0)
df_clean.index.name = "index"

In [4]:
print ('Shape is', df_clean.shape)
df_clean.head(3)

Shape is (2314, 34)

,description,duration,event,main_speaker,speaker_occupation,tags,title,transcript,film_datestamp,pub_datestamp,...,Confusing,Informative,Fascinating,Unconvincing,OK,Inspiring,event_type,Max_rating,ratings_total,word_per_min
index,,,,,,,,,,,,,,,,,,,,,
0,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,Ken Robinson,Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,Good morning. How are you?(Laughter)It's been ...,2006-02-25 00:00:00,2006-06-27 00:11:00,...,0.007035,0.082160,0.118341,0.005693,0.013130,0.398474,TED,Inspiring,89411,163
1,With the same humor and humanity he exuded in ...,977,TED2006,Al Gore,Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,"Thank you so much, Chris. And it's truly a gre...",2006-02-25 00:00:00,2006-06-27 00:11:00,...,0.062057,0.157092,0.046809,0.137943,0.071986,0.241489,TED,Inspiring,2820,127
2,New York Times columnist David Pogue takes aim...,1286,TED2006,David Pogue,Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,"(Music: ""The Sound of Silence,"" Simon & Garfun...",2006-02-24 00:00:00,2006-06-27 00:11:00,...,0.037906,0.142599,0.059928,0.088809,0.052708,0.166065,TED,Funny,2770,157